apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: easyapp-application
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/nvkp/easyapp-k8s.git
    targetRevision: HEAD
    path: dev
  destination:
    server: https://kubernetes.default.svc
    namespace: easyapp
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
    automated:
      selfHeal: true
      prune: true